#header
    position: absolute
    height: 1012.8px
    background-color: #000000d3
    z-index: 10
    width: 100%
    #nav-bar
        position: absolute
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        padding-top: 30px
        nav
            padding-top: 35px
            ul
                border-top: #f8f9fa 1px solid
                border-bottom: #f8f9fa 1px solid
                display: flex
                align-items: center
                list-style: none
                margin-left: 40px
                margin-right: 40px
                padding-right: 32px
                li
                    padding: 15px 25px
                    // logo
        div
            img
                margin: 0 10px
                    // fin logo
    #title
        position: absolute
        top: 287px
        width: 100%
        h1
            font-family: 'Courgette', cursive
            color: white
            font-size: 55px
            width: 60%
            text-align: center
            margin: 0 auto
            span
                font-size: 80px
                // bouttons header
        #pills
            margin-top: 45px
            .badge
                padding: 20px 35px
                font-size: 15px
                margin: 10px
                a
                    text-decoration: none
                    font-weight: normal
                // fin bouttons header
                // indicateurs rond
.carousel-indicators
    display: flex
    align-items: center
    margin-left: 300px
    .active
        background-color: #9e9e9e00 !important
        border: white solid 3px !important
        display: flex
        justify-content: center
        align-items: center
        height: 15px
        width: 15px
        p
            background-color: white
            width: 10px
            height: 10px

    .rounded-circle
        width: 15px
        height: 15px
                // fin indicateurs ronds
                // deco fin header
#deco
    background-image: url(../images/bottom_decoration_img.png)
    height: 15px
    width: 100%
    z-index: 10
    bottom: 0%
    position: absolute
                // fin deco fin header