@import "./_variables"
header
    background-image: url(../images/banner1.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
#header
    position: relative
    background-color: #000000d3
    z-index: 10
    width: 100%
    padding-top: 20px

    #nav-bar
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        padding-top: 30px
        nav
            padding-top: 35px
            ul
                display: flex
                align-items: center
                list-style: none
                li
                    padding: 15px 25px
    .title
        h1
            font-family: 'Courgette', cursive
            color: white
            font-size: 55px
            width: 60%
            text-align: center
            margin: 0 auto
            span
                font-size: 80px
                // bouttons header
        #pills
            margin-top: 8vh
            .badge
                padding: 20px 35px
                font-size: 15px
                margin: 10px
                a
                    text-decoration: none
                    font-weight: normal
                // fin bouttons header
                // deco fin header
#deco
    background-image: url(../images/bottom_decoration_img.png)
    height: 15px
    width: 100%
    z-index: 10
                // fin deco fin header

.nav
    padding-left: 50px
    padding-right: 50px
    ul
        display: flex
        align-items: flex-end
        margin: 0
        li
            display: flex
            justify-content: center
            .nav-link
                padding-top: 15px
                padding-bottom: 15px
                width: 9vw
                display: flex
                justify-content: center
                
.nav-link:hover
    background-color: $pink
li.nav-item
    display: flex
    align-items: center
#logo
    width: 200px
    display: flex
    justify-content: center
#carouselExampleSlidesOnly
    height: 75%
    padding-top: 10%
    .carousel-item
        display: flex
        justify-content: center
        align-items: center
#indicators
    margin-top: 15%
    display: block
    margin-left: auto
    margin-right: auto
    text-align: center
    button
        height: 15px
        width: 15px
        border: white
div.container-fluid
    padding-left: 0
    padding-right: 0
#navbarSupportedContent
    padding: 0
.nav-sep
    border-top: white solid 1px
    border-bottom: white solid 1px

        