@import './_variables'
#testimonials
    background-image: url(../images/testimonials_background.jpg)
    background-size: 22000px
    background-position: 50% 82%
    padding-bottom: 40px
    padding-top: 80px
    #testimonials-title
        h2
            text-align: center
            margin: 0
        img
            display: block
            margin: 0 auto !important
    #testimonies
        margin: 100px 0 
        .testimony-card
            margin: 0 15px
            padding: 0
            width: 50%
            #image-left
                margin-right: 30px
            #image-right
                margin-left: 30px
            img
                border: 5px solid #d3d3d3
            .testimony-text
                border: 1px white solid
                border-radius: 15px
                padding: 15px 5px 10px 5px
                height: 100%
                .test-blog
                    margin: 0
                    font-weight: normal
                .manager
                    color: $pink
                    margin-bottom: 8px

