@import './_header'
@import './_variables'
@import './_menu-story'
@import './_team'
@import './_book'
@import './_testimonials'
@import './_contact'
h1, h2
    font-family: 'Courgette', cursive
.pink-color
    color: $pink
.pink-bg
    background-color: $pink
.grey-color
    color: $grey
.grey-background
    background-color: $grey
p
    font-weight: 550
h2
    font-size: 40px
    font-weight: normal
    span
        color: $pink
        font-size: 60px
        font-weight: normal