#book-blog {
  background-image: url(../images/main_bg.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
}
#book-blog #book-blog-container {
  position: relative;
  padding-top: 24px;
  background-color: white;
  padding-bottom: 50px;
  border: solid 1px #d3d3d3;
}
#book-blog #book-blog-container #grey-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#book-blog #book-blog-container #grey-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
#book-blog #book-blog-container #grey-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#book-blog #book-blog-container #grey-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
#book-blog #book-blog-container #book #book-title h2 {
  margin: 0;
}
#book-blog #book-blog-container #book #book-title img {
  display: block;
  margin: 0 auto;
}
#book-blog #book-blog-container #book #book-form {
  margin-top: 100px;
  background-image: url(../images/book_table_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#book-blog #book-blog-container #book #book-form p {
  color: #d3d3d3;
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: normal;
}
#book-blog #book-blog-container #book #book-form p a {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-decoration: none;
}
#book-blog #book-blog-container #book #book-form .large {
  width: 220px;
  border-radius: 15px 0 0 15px;
  text-align: left;
  height: 45px;
}
#book-blog #book-blog-container #book #book-form .arrow {
  border-radius: 0 15px 15px 0;
  height: 45px;
}
#book-blog #book-blog-container #book #book-form .form-item {
  width: 250px;
  height: 45px;
  border-radius: 15px;
  border: none;
  margin: 0;
}

#book-blog ::placeholder {
  color: black;
}

#book-blog .row {
  margin-top: 20px;
}

.button {
  text-align: center;
}
.button #book-now {
  background-color: #c93440;
  border: none;
  padding: 15px 30px;
  margin-top: 10%;
}
.button #know-more {
  background-color: #c93440;
  border: none;
  padding: 15px 30px;
}

#blog {
  padding-top: 60px;
  padding-bottom: 60px;
}
#blog #blog-title h2 {
  text-align: center;
  margin: 0;
}
#blog #blog-title img {
  display: block;
  margin: 0 auto;
}
#blog #blog-posts {
  width: 81%;
  margin: 10% auto;
}
#blog #blog-posts .blog-card {
  position: relative;
  margin: 0 7px;
}
#blog #blog-posts .blog-card img {
  border-radius: 20px;
  border: 5px solid #d3d3d3;
  display: block;
  margin: 0 auto;
}
#blog #blog-posts .blog-card .post-info {
  background-color: #c93440;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: normal;
  width: 90%;
  margin: 0 auto;
  transform: translateY(-30px);
}
#blog #blog-posts .blog-card .post-info p {
  margin: 0;
}
#blog #blog-posts .blog-card .post-info .number {
  font-size: 30px;
  font-weight: 700;
}
#blog #blog-posts .blog-card .post-info .slash {
  font-size: 30px;
  font-weight: 300;
}
#blog #blog-posts .blog-card .blog-text {
  padding-right: 15px;
  padding-left: 30px;
}
#blog #blog-posts .blog-card .blog-text h4 {
  font-size: 20px;
  font-weight: 700;
}
#blog #blog-posts .blog-card .blog-text p {
  color: #4f575e;
}

@media screen and (max-width: 1275px) {
  #blog-posts {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1399px) {
  #form-container .col-md {
    padding-bottom: 20px;
  }
}
#form-container {
  width: 80%;
  padding: 0 40px;
}
#form-container .col-md {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .large {
    width: 160px;
  }
}
@media screen and (max-width: 172px) {
  #blog-posts {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  #book-blog-container #book #book-form .large {
    width: 150px !important;
  }
  #book-blog-container #book #book-form .form-item {
    width: 180px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1276px) {
  #blog-posts .blog-card .post-info {
    width: 60% !important;
  }
  #blog-posts .blog-card .blog-text {
    margin-left: 17%;
    margin-right: 17%;
  }
}
@media screen and (max-width: 992px) {
  #blog-posts .blog-card .post-info {
    width: 95% !important;
  }
}

/*# sourceMappingURL=_book.css.map */
