header {
  background-image: url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#header {
  position: relative;
  background-color: #000000d3;
  z-index: 10;
  width: 100%;
  padding-top: 20px;
}
#header #nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#header #nav-bar nav {
  padding-top: 35px;
}
#header #nav-bar nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
#header #nav-bar nav ul li {
  padding: 15px 25px;
}
#header .title h1 {
  font-family: "Courgette", cursive;
  color: white;
  font-size: 55px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
#header .title h1 span {
  font-size: 80px;
}
#header .title #pills {
  margin-top: 8vh;
}
#header .title #pills .badge {
  padding: 20px 35px;
  font-size: 15px;
  margin: 10px;
}
#header .title #pills .badge a {
  text-decoration: none;
  font-weight: normal;
}

#deco {
  background-image: url(../images/bottom_decoration_img.png);
  height: 15px;
  width: 100%;
  z-index: 10;
}

.nav {
  padding-left: 50px;
  padding-right: 50px;
}
.nav ul {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
.nav ul li {
  display: flex;
  justify-content: center;
}
.nav ul li .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 9vw;
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  background-color: #c93440;
}

li.nav-item {
  display: flex;
  align-items: center;
}

#logo {
  width: 200px;
  display: flex;
  justify-content: center;
}

#carouselExampleSlidesOnly {
  height: 75%;
  padding-top: 10%;
}
#carouselExampleSlidesOnly .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#indicators {
  margin-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#indicators button {
  height: 15px;
  width: 15px;
  border: white;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#navbarSupportedContent {
  padding: 0;
}

.nav-sep {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

#menu-story {
  background-image: url(../images/main_bg.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
}
#menu-story .container {
  background-color: white;
  position: relative;
  padding-top: 25px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
#menu-story .container #red-left-top {
  position: absolute;
  top: 0;
  left: 0;
}
#menu-story .container #red-right-top {
  position: absolute;
  top: 0;
  right: 0;
}
#menu-story .container #red-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
#menu-story .container #red-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
#menu-story .container #story #story-title {
  text-align: center;
  margin: 0;
}
#menu-story .container #story #story-title img {
  display: block;
  margin: 0 auto;
}
#menu-story .container #story #story-text {
  margin-top: 70px;
}
#menu-story .container #story #story-text p {
  width: 50%;
  margin: 0 auto;
  padding: 0 25px;
  color: #5a636b;
}
#menu-story .container #menu {
  margin-top: 50px;
}
#menu-story .container #menu #menu-title {
  position: relative;
  text-align: center;
}
#menu-story .container #menu #menu-title img {
  position: absolute;
  left: 50%;
  top: 65px;
  margin-left: -221px;
}
#menu-story .container #menu .menu-list {
  margin-top: 40px;
}
#menu-story .container #menu .menu-list #menu-nav ul {
  list-style: none;
  padding-left: 5px;
  border-right: 1px solid #d3d3d3;
}
#menu-story .container #menu .menu-list #menu-nav ul li:hover {
  border-right: 5px #c93440 solid;
  margin-right: 0;
}
#menu-story .container #menu .menu-list #menu-nav ul li:hover i {
  color: #c93440;
}
#menu-story .container #menu .menu-list #menu-nav ul li {
  padding: 15px 60px;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
  margin-right: 5px;
}
#menu-story .container #menu .menu-list #menu-nav ul li i {
  font-size: 60px;
  color: #d3d3d3;
}
#menu-story .container #menu .menu-list #menu-nav ul li h3 {
  font-family: "Courgette", cursive;
}
#menu-story .container #menu .container {
  padding: 15px;
  padding-top: 7px;
  margin-bottom: 50px;
}
#menu-story .container #menu .container .menu-col {
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px 0;
  border-bottom: dotted #d3d3d3 2px;
  margin-left: 20px;
}
#menu-story .container #menu .container .menu-col img {
  border: 4px solid #d3d3d3;
}
#menu-story .container #menu .container .menu-col div {
  padding-left: 20px;
}
#menu-story .container #menu .container .menu-col div .dish-name {
  color: black;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}
#menu-story .container #menu .container .menu-col div .dish-description {
  margin: 0;
  color: #1d1d1d;
  font-weight: normal;
  font-size: 13px;
}
#menu-story .container #menu .container .menu-col span {
  padding: 0 20px;
  background-color: #eeeded;
  font-size: 20px;
  font-weight: 600;
  color: #c93440;
  margin-right: 20px;
  margin-right: 0;
}

#menu-container {
  border: solid 1px #d3d3d3;
}

@media screen and (min-width: 992px) {
  .menu-list {
    display: flex;
  }

  .menu-col {
    margin: 0;
  }
}
#team {
  background-image: url(../images/team_background.jpg);
  background-size: 18000px;
  background-position: 49.5% 41%;
  padding: 60px 15% 10px 15%;
}
#team #team-title h2 {
  margin: 0;
}
#team #team-title img {
  display: block;
  margin: 0 auto;
}
#team #chefs {
  padding-top: 70px;
  flex-direction: column;
}
#team #chefs img {
  border-bottom: 1px white solid;
}

#book-blog {
  background-image: url(../images/main_bg.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
}
#book-blog #book-blog-container {
  position: relative;
  padding-top: 24px;
  background-color: white;
  padding-bottom: 50px;
  border: solid 1px #d3d3d3;
}
#book-blog #book-blog-container #grey-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#book-blog #book-blog-container #grey-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
#book-blog #book-blog-container #grey-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#book-blog #book-blog-container #grey-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
#book-blog #book-blog-container #book #book-title h2 {
  margin: 0;
}
#book-blog #book-blog-container #book #book-title img {
  display: block;
  margin: 0 auto;
}
#book-blog #book-blog-container #book #book-form {
  margin-top: 100px;
  background-image: url(../images/book_table_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#book-blog #book-blog-container #book #book-form p {
  color: #d3d3d3;
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: normal;
}
#book-blog #book-blog-container #book #book-form p a {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-decoration: none;
}
#book-blog #book-blog-container #book #book-form .large {
  width: 220px;
  border-radius: 15px 0 0 15px;
  text-align: left;
  height: 45px;
}
#book-blog #book-blog-container #book #book-form .arrow {
  border-radius: 0 15px 15px 0;
  height: 45px;
}
#book-blog #book-blog-container #book #book-form .form-item {
  width: 250px;
  height: 45px;
  border-radius: 15px;
  border: none;
  margin: 0;
}

#book-blog ::placeholder {
  color: black;
}

#book-blog .row {
  margin-top: 20px;
}

.button {
  text-align: center;
}
.button #book-now {
  background-color: #c93440;
  border: none;
  padding: 15px 30px;
  margin-top: 10%;
}
.button #know-more {
  background-color: #c93440;
  border: none;
  padding: 15px 30px;
}

#blog {
  padding-top: 60px;
  padding-bottom: 60px;
}
#blog #blog-title h2 {
  text-align: center;
  margin: 0;
}
#blog #blog-title img {
  display: block;
  margin: 0 auto;
}
#blog #blog-posts {
  width: 81%;
  margin: 10% auto;
}
#blog #blog-posts .blog-card {
  position: relative;
  margin: 0 7px;
}
#blog #blog-posts .blog-card img {
  border-radius: 20px;
  border: 5px solid #d3d3d3;
  display: block;
  margin: 0 auto;
}
#blog #blog-posts .blog-card .post-info {
  background-color: #c93440;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: normal;
  width: 90%;
  margin: 0 auto;
  transform: translateY(-30px);
}
#blog #blog-posts .blog-card .post-info p {
  margin: 0;
}
#blog #blog-posts .blog-card .post-info .number {
  font-size: 30px;
  font-weight: 700;
}
#blog #blog-posts .blog-card .post-info .slash {
  font-size: 30px;
  font-weight: 300;
}
#blog #blog-posts .blog-card .blog-text {
  padding-right: 15px;
  padding-left: 30px;
}
#blog #blog-posts .blog-card .blog-text h4 {
  font-size: 20px;
  font-weight: 700;
}
#blog #blog-posts .blog-card .blog-text p {
  color: #4f575e;
}

@media screen and (max-width: 1275px) {
  #blog-posts {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1399px) {
  #form-container .col-md {
    padding-bottom: 20px;
  }
}
#form-container {
  width: 80%;
  padding: 0 40px;
}
#form-container .col-md {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .large {
    width: 160px;
  }
}
@media screen and (max-width: 172px) {
  #blog-posts {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  #book-blog-container #book #book-form .large {
    width: 150px !important;
  }
  #book-blog-container #book #book-form .form-item {
    width: 180px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1276px) {
  #blog-posts .blog-card .post-info {
    width: 60% !important;
  }
  #blog-posts .blog-card .blog-text {
    margin-left: 17%;
    margin-right: 17%;
  }
}
@media screen and (max-width: 992px) {
  #blog-posts .blog-card .post-info {
    width: 95% !important;
  }
}
#testimonials {
  background-image: url(../images/testimonials_background.jpg);
  background-size: 22000px;
  background-position: 50% 82%;
  padding-bottom: 40px;
  padding-top: 80px;
}
#testimonials #testimonials-title h2 {
  text-align: center;
  margin: 0;
}
#testimonials #testimonials-title img {
  display: block;
  margin: 0 auto !important;
}
#testimonials #testimonies {
  margin: 100px 0;
}
#testimonials #testimonies .testimony-card {
  margin: 0 15px;
  padding: 0;
  width: 50%;
}
#testimonials #testimonies .testimony-card #image-left {
  margin-right: 30px;
}
#testimonials #testimonies .testimony-card #image-right {
  margin-left: 30px;
}
#testimonials #testimonies .testimony-card img {
  border: 5px solid #d3d3d3;
}
#testimonials #testimonies .testimony-card .testimony-text {
  border: 1px white solid;
  border-radius: 15px;
  padding: 15px 5px 10px 5px;
  height: 100%;
}
#testimonials #testimonies .testimony-card .testimony-text .test-blog {
  margin: 0;
  font-weight: normal;
}
#testimonials #testimonies .testimony-card .testimony-text .manager {
  color: #c93440;
  margin-bottom: 8px;
}

#contact {
  background-image: url(../images/main_bg.jpg);
  padding-top: 80px;
  padding-bottom: 50px;
}
#contact #contact-title {
  text-align: center;
  position: relative;
}
#contact #contact-title h2 {
  margin: 0;
}
#contact #contact-title img {
  margin: 0 auto;
}
#contact #contact-info {
  background-color: #c93440;
  width: 415px;
  margin: 80px auto 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}
#contact #contact-info .contact-item {
  padding: 15px 0;
}
#contact #contact-info .contact-item i {
  font-size: 45px;
}
#contact #contact-info .contact-item a {
  text-decoration: none;
}
#contact #contact-info .contact-item p {
  margin: 0;
}
#contact #contact-info .contact-item #enveloppe {
  font-size: 60px;
}

footer {
  background-image: url(../images/footer_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
footer #gallery .row {
  margin-bottom: 10px;
}
footer #gallery .row .colonne {
  width: 75px;
  padding: 0;
}

footer #insta-title {
  padding-left: 30px;
}
footer h3 {
  margin-bottom: 30px;
}

footer i {
  font-size: 30px;
  margin-right: 20px;
}

footer .badge {
  background-color: #c93440;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

#deco-footer {
  background-image: url(../images/footer_bottom_decoration_img.png);
  height: 10px;
}

#contenu-footer {
  margin-top: 40px;
  padding-bottom: 50px;
}

#pink {
  background-color: #c93440;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .container #menu .container .menu-col {
    margin: 0 !important;
  }
  .container #menu .container .menu-col div {
    width: 65%;
  }
  .container #menu .container .menu-col span {
    padding: 0 !important;
  }

  #testimonies .testimony-card {
    flex-direction: column;
  }
  #testimonies .testimony-card #image-left {
    margin: 0 auto !important;
  }
  #testimonies .testimony-card #image-right {
    margin: 0 auto !important;
  }
  #testimonies #testimony-bottom {
    flex-direction: column-reverse;
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 992px) {
  .nav-sep {
    display: flex;
    flex-direction: column;
    border: none;
  }

  #logo {
    display: none;
  }

  #testimony-tab {
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  #contact #contact-info {
    width: 100%;
  }

  #header .title h1 {
    font-size: 40px;
  }
  #header .title h1 span {
    font-size: 60px;
  }
}
@media screen and (max-width: 638px) {
  #header .title h1 {
    margin: 0;
    width: 100%;
  }
}
h1, h2 {
  font-family: "Courgette", cursive;
}

.pink-color {
  color: #c93440;
}

.pink-bg {
  background-color: #c93440;
}

.grey-color {
  color: #535b63;
}

.grey-background {
  background-color: #535b63;
}

p {
  font-weight: 550;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}
h2 span {
  color: #c93440;
  font-size: 60px;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
