#header {
  position: absolute;
  height: 1012.8px;
  background-color: #000000d3;
  z-index: 10;
  width: 100%;
}
#header #nav-bar {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#header #nav-bar nav {
  padding-top: 35px;
}
#header #nav-bar nav ul {
  border-top: #f8f9fa 1px solid;
  border-bottom: #f8f9fa 1px solid;
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
  padding-right: 32px;
}
#header #nav-bar nav ul li {
  padding: 15px 25px;
}
#header #nav-bar div img {
  margin: 0 10px;
}
#header #title {
  position: absolute;
  top: 287px;
  width: 100%;
}
#header #title h1 {
  font-family: "Courgette", cursive;
  color: white;
  font-size: 55px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
#header #title h1 span {
  font-size: 80px;
}
#header #title #pills {
  margin-top: 45px;
}
#header #title #pills .badge {
  padding: 20px 35px;
  font-size: 15px;
  margin: 10px;
}
#header #title #pills .badge a {
  text-decoration: none;
  font-weight: normal;
}

.carousel-indicators {
  display: flex;
  align-items: center;
  margin-left: 300px;
}
.carousel-indicators .active {
  background-color: #9e9e9e00 !important;
  border: white solid 3px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
}
.carousel-indicators .active p {
  background-color: white;
  width: 10px;
  height: 10px;
}
.carousel-indicators .rounded-circle {
  width: 15px;
  height: 15px;
}

#deco {
  background-image: url(../images/bottom_decoration_img.png);
  height: 15px;
  width: 100%;
  z-index: 10;
  bottom: 0%;
  position: absolute;
}

#menu-story {
  background-image: url(../images/main_bg.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
}
#menu-story .container {
  background-color: white;
  position: relative;
  padding-top: 25px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
#menu-story .container #red-left-top {
  position: absolute;
  top: 0;
  left: 0;
}
#menu-story .container #red-right-top {
  position: absolute;
  top: 0;
  right: 0;
}
#menu-story .container #red-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
#menu-story .container #red-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
#menu-story .container #story #story-title {
  position: relative;
  text-align: center;
}
#menu-story .container #story #story-title img {
  position: absolute;
  left: 50%;
  top: 65px;
  margin-left: -221px;
}
#menu-story .container #story #story-text {
  margin-top: 70px;
}
#menu-story .container #story #story-text p {
  width: 50%;
  margin: 0 auto;
  padding: 0 25px;
  color: #5a636b;
}
#menu-story .container #menu {
  margin-top: 50px;
}
#menu-story .container #menu #menu-title {
  position: relative;
  text-align: center;
}
#menu-story .container #menu #menu-title img {
  position: absolute;
  left: 50%;
  top: 65px;
  margin-left: -221px;
}
#menu-story .container #menu #menu-list {
  margin-top: 40px;
}
#menu-story .container #menu #menu-list #menu-nav ul {
  list-style: none;
  padding-left: 5px;
  border-right: 1px solid #d3d3d3;
}
#menu-story .container #menu #menu-list #menu-nav ul #breakfast {
  border-right: 5px #c93440 solid;
  margin-right: 0;
}
#menu-story .container #menu #menu-list #menu-nav ul li {
  padding: 15px 60px;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
  margin-right: 5px;
}
#menu-story .container #menu #menu-list #menu-nav ul li #breakfast-icon {
  color: #c93440;
}
#menu-story .container #menu #menu-list #menu-nav ul li i {
  font-size: 60px;
  color: #d3d3d3;
}
#menu-story .container #menu #menu-list #menu-nav ul li h3 {
  font-family: "Courgette", cursive;
}
#menu-story .container #menu .container {
  padding: 15px;
  padding-top: 7px;
  margin-bottom: 50px;
}
#menu-story .container #menu .container .col {
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px 0;
  border-bottom: dotted #d3d3d3 2px;
  margin: 0 20px;
}
#menu-story .container #menu .container .col img {
  border: 4px solid #d3d3d3;
}
#menu-story .container #menu .container .col div {
  padding-left: 20px;
}
#menu-story .container #menu .container .col div .dish-name {
  color: black;
  font-weight: 700;
  margin: 0;
}
#menu-story .container #menu .container .col div .dish-description {
  margin: 0;
  color: #535b63;
}
#menu-story .container #menu .container .col span {
  padding: 0 20px;
  background-color: #eeeded;
  font-size: 20px;
  font-weight: 600;
  color: #c93440;
  margin-right: 20px;
  margin-right: 0;
}

#decoration-line-bottom {
  position: absolute;
  left: 50%;
  margin-left: -221px;
}

#menu-container {
  border: solid 1px #d3d3d3;
}

#team {
  background-image: url(../images/team_background.jpg);
  background-size: 18000px;
  background-position: 49.5% 41%;
  padding: 60px 200px;
  padding: 60px 200px 10px 200px;
}
#team #team-title {
  position: relative;
}
#team #team-title img {
  position: absolute;
  left: 50%;
  margin-left: -221px;
  top: 65px;
}
#team #chefs {
  padding-top: 70px;
}
#team #chefs img {
  border-bottom: 1px white solid;
}

#book-blog {
  background-image: url(../images/main_bg.jpg);
  padding-top: 50px;
}
#book-blog #book-blog-container {
  position: relative;
  padding-top: 24px;
  background-color: white;
  padding-bottom: 50px;
  border: solid 1px #d3d3d3;
}
#book-blog #book-blog-container #grey-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#book-blog #book-blog-container #grey-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
#book-blog #book-blog-container #grey-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#book-blog #book-blog-container #grey-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
#book-blog #book-blog-container #book #book-title {
  position: relative;
}
#book-blog #book-blog-container #book #book-title img {
  position: absolute;
  left: 50%;
  margin-left: -221px;
  top: 70px;
}
#book-blog #book-blog-container #book #book-form {
  margin-top: 100px;
  background-image: url(../images/book_table_bg.jpg);
  width: 770px;
  height: 564px;
  border-radius: 20px;
  padding: 50px 100px;
}
#book-blog #book-blog-container #book #book-form p {
  color: #d3d3d3;
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: normal;
}
#book-blog #book-blog-container #book #book-form p a {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-decoration: none;
}
#book-blog #book-blog-container #book #book-form .large {
  width: 220px;
  border-radius: 15px 0 0 15px;
  text-align: left;
  height: 45px;
}
#book-blog #book-blog-container #book #book-form .arrow {
  border-radius: 0 15px 15px 0;
  height: 45px;
}
#book-blog #book-blog-container #book #book-form .form-item {
  width: 250px;
  height: 45px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
}

#book-blog ::placeholder {
  color: black;
}

#book-blog .row {
  margin-top: 20px;
}

.button {
  text-align: center;
}
.button #book-now {
  background-color: #c93440;
  border: none;
  padding: 15px 30px;
  margin-top: 60px;
}
.button #know-more {
  background-color: #c93440;
  border: none;
  padding: 15px 30px;
}

#blog {
  padding-top: 60px;
}
#blog #blog-title {
  position: relative;
}
#blog #blog-title h2 {
  text-align: center;
}
#blog #blog-title img {
  position: absolute;
  left: 50%;
  margin-left: -221px;
  top: 65px;
}
#blog #blog-posts {
  width: 81%;
  margin: 80px auto;
  padding-left: 25px;
}
#blog #blog-posts .blog-card {
  position: relative;
}
#blog #blog-posts .blog-card img {
  border-radius: 20px;
  border: 5px solid #d3d3d3;
}
#blog #blog-posts .blog-card .post-info {
  background-color: #c93440;
  color: white;
  position: absolute;
  bottom: 115px;
  left: 50%;
  margin-left: -232px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  top: 245px;
  padding: 10px 40px;
  border-radius: 20px;
  height: 69px;
  font-weight: 100;
}
#blog #blog-posts .blog-card .post-info p {
  margin: 0;
}
#blog #blog-posts .blog-card .post-info .number {
  font-size: 30px;
  font-weight: 700;
}
#blog #blog-posts .blog-card .post-info .slash {
  font-size: 30px;
  font-weight: 300;
}
#blog #blog-posts .blog-card .blog-text {
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 30px;
}
#blog #blog-posts .blog-card .blog-text h4 {
  font-size: 20px;
  font-weight: 700;
}
#blog #blog-posts .blog-card .blog-text p {
  margin-top: 15px;
  color: #4f575e;
}

h1, h2 {
  font-family: "Courgette", cursive;
}

.pink-color {
  color: #c93440;
}

.pink-bg {
  background-color: #c93440;
}

.grey-color {
  color: #535b63;
}

.grey-background {
  background-color: #535b63;
}

p {
  font-weight: 550;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}
h2 span {
  color: #c93440;
  font-size: 60px;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
